:root {
    --black: rgb(34, 34, 34);
}

* {
    padding: 0;
    margin: 0;
}

div {
    content: "";
}

body {
    min-height: 100vh;
    max-height: 100vh;
    overflow: hidden;
}

#living-room {
    width: 100%;
    height: 100vh;
}

#tv {
    position: relative;
    width: 50%;
    height: 50%;
    margin: 20px auto 0;
    border: 8px solid var(--black);
    box-sizing: border-box;
}

#indicator {
    position: absolute;
    bottom: -5px;
    right: 10px;
    background-color: red;
    width: 4px;
    height: 4px;
    border-radius: 50%;
}

#screen {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    background-color: black;
    transition: 3s ease-out;
}

#remote {
    position: absolute;
    background-color: black;
    bottom: 5px;
    left: 50%;
    margin-left: -20px;
    width: 50px;
    height: 100px;
    border-radius: 5px;
}

#power-button {
    background-color: red;

}

button > img {
    width: 15px;
}

button {
    cursor: pointer;
    border:none;

}

#remote > button {
    width: 20px;
    height: 20px;
    color: white;
    text-align: center;
    border-radius: 50%;
    text-align: center;
    margin: 5px;
}
.channel-buttons {
    display: flex;
    width: 90%;
    margin: 0 auto;
}

.channel-buttons > button {
    flex: 1;
    margin: 2px;
    border-radius: 6px;
}

.next {
    right: 0;
}

button:hover {
    opacity: 0.7;
}

button:active {
    transform: scale(0.9);
}

#screen-content {
    opacity: 0;
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    transition: 3s;
}