:root {
    --graphite: rgb(12, 12, 12);
    --gray: rgb(110, 110, 110);
    --black: rgb(0, 0, 0);
    --yellow: rgb(255, 255, 75);
}

* {
    padding: 0;
    margin: 0;
}

body {
    min-height: 100vh;
    background-color: black;
    font-family: Helvetica, sans-serif;
}

.bulb-container {
    width: fit-content;
    height: fit-content;
    position: absolute;
}

.bulb {
    position: absolute;
    width: 16px;
    height: 26px;
    box-shadow: 0 0 1000px 5em yellow;
    background-color: yellow;
    border: 1px solid white;
    border-radius: 50%;
    transition: 2s;
}

.cable {
    position: absolute;
    background-color: black;
    width: 2px;
    height: 1000px;
    z-index: 1;
    top: -1000px;
    left: 8px;
}

.bulb-socket {
    width: 50px;
    height: 8px;
    background-color: black;
    position: absolute;
    z-index: 2;
    border-radius: 50%;
    margin-left: -16px;
}

.bulb.eco {
    box-shadow: 0 0 1000px 5em white;
    background-color: white;
}

.bulb.bigger {
    width: 20px;
    height: 20px;
}

#light-1 {
    top: 45%;
    left: 50%;
    margin-left: -8px;
}

.switch {
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 30px;
}

.switch > button {
    border: none;
    flex: 1;
    background-color: transparent;
    color: white;
    cursor: pointer;
}

#end-screen {
    color: white;
    display: none;
}

#end-screen p {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -50px;
}

#restart-btn {
    position: absolute;
    top: 80%;
    left: 50%;
    margin-left: -25px;
}

#menu {
    position: absolute;
    top: 80%;
    left: 50%;
    margin-top: -35px;
    margin-left: -130px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 70px;
}

.btn {
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: white;
    transition: 2s ease-out;
    width: fit-content;
    margin: 0 auto;
}

.btn:hover {
    box-shadow: 0 0 200px 1vw var(--yellow);
}