:root {
    --graphite: rgba(44, 42, 42, 0.801);
    --red: rgb(255, 73, 60);
    --blue: rgb(56, 56, 224);
    --gray: rgb(158, 159, 165);
    --yellow: rgb(252, 252, 63);
    --green: rgb(65, 245, 65);
}

* {
    padding: 0;
    margin: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

html {
    height: 100%;
}

body {
    background: linear-gradient(165deg, var(--yellow), var(--red), var(--blue));    
    color: white;
    height: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    word-spacing: 0.4em;
}

a {
    text-decoration: none;
    color: white;
}

a:hover {
    color: black;
    transition: 0.3s ease-out;
}

.main-h {
    font-family: 'Berkshire Swash', cursive;
    text-shadow: 0 0 10px var(--yellow);
}
.page-header {
    width: 100%;
    position: fixed;
    display: flex;
    top: 0;
    left: 0;
    justify-content: space-between;
    padding: 2vh 5vw;
    background-color: var(--graphite);
    color: white;
    box-sizing: border-box;
    box-shadow: 0 0 20px -5px black;
}

.nav-bar {
    display: flex;
    justify-content: space-evenly;
}

.nav-bar > a {
    margin: auto 1em;
}

a.active {
    color: var(--red);
}

a.active:hover {
    color: black
}

main {
    width: 75%;
    margin: 20vh auto 0 auto;
    padding: 1em;
    min-height: 55%;
    color: var(--graphite);
    background-color: rgba(255, 255, 255, 0.623);
    border-bottom-right-radius: 25px;
    border-top-left-radius: 25px;
    border-top: 2px solid var(--green);
    border-bottom: 2px solid var(--green);
    text-align: center;
}

main > h2 {
    border-bottom: 2px solid var(--graphite);
    padding-bottom: 0.5em;
    margin-bottom: 1em;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 2em;
}


.card {
    width: 80%;
    margin: 0 auto;
}

.card header {
    margin-bottom: 1em;
}
